<!--call the shared layout-->
@{
    ViewBag.Title = "Index";
}
<!--insert some text into the index.html -->
<h1>Welcome</h1>

<body>
    <div>
        <p>
            Welcome to the Kentucky State Food Inspection page. <br>
            Select Locations at the top of the page to to view, add, update or delete locations where inspections have been performed.

        </p>
    </div>

</body>

